<body class="background-blue">
<p id="notice" style="color:white;"><%= notice %></p>
<h3 align="center"><strong>CENNÍK LYŽIARSKA A SNOWBOARDOVÁ ŠKOLA</strong></h3><br>

<div align="center">
  <table class="table table-bordered">
    <thead>
      <tr>
        <th class="text-center"><h5><strong>Kurzy pre deti 4-15 rokov<strong></h5></th>
        <th class="text-center"><h5><strong>Kurzy pre dospelých<strong></h5></th>
      </tr>
    </thead>
    <tbody>
      <td> 
        <table class="table table-bordered table-stripped">
          <thead>
          </thead>
          <tbody>
            <tr>
              <td>1 lekcia</td>
              <td>21€/os.</td>
            </tr>
            <tr>
              <td>2 lekcie</td>
              <td>39€/os.</td>
            </tr>
            <tr>
              <td>3 lekcie</td>
              <td>56€/os.</td>
            </tr>
            <tr>
              <td>1 deň</td>
              <td>73€/os.</td>
            </tr>
            <tr>
              <td>2 dni</td>
              <td>142€/os.</td>
            </tr>
            <tr>
              <td>3 dni</td>
              <td>210€/os.</td>
            </tr>
          </tbody>
        </table>
      </td>
      <td>
        <table class="table table-bordered table-stripped">
          <thead>
          </thead>
          <tbody>
            <tr>
              <td>1 lekcia</td>
              <td>24€/os.</td>
            </tr>
            <tr>
              <td>2 lekcie</td>
              <td>45€/os.</td>
            </tr>
            <tr>
              <td>1 deň</td>
              <td>82€/os.</td>
            </tr>
            <tr>
              <td>2 dni</td>
              <td>158€/os.</td>
            </tr>
            <tr>
              <td>3 dni</td>
              <td>225€/os.</td>
            </tr>
          </tbody>
        </table>
      </td>
    </body>
  </table>
</div>
<br>
<h6><strong>Ceny sú uvedené v EUR na osobu.</strong></h6><br>
<h6><strong>1 lekcia=50 min.</strong></h6><br>
<h6><strong>Vyučovací deň: 10:00-12:00 hod. 13:00-15:00 hod.</strong></h6><br>
<h6><strong>Skupinová škôlka pre deti ovládajúce základy lyžovania min. 5 detí - je potrebné nahlásiť dva dni dopredu telefonicky alebo emailom. Cena 10,-Eur za jedno dieťa.</strong></h6>
<br>


