<body class="background-blue">
<p id="notice" style="color:white;"><%= notice %></p>
<h2 align="center"><strong>Tešíme sa na vašu návštevu</strong></h2>
<br><br>
<h4 align="center"><strong>Otváracie hodiny:</strong></h4>
<h5 align="center">PO-NE: 09:00 - 16:00</h5>
<h5 align="center">--------------------------------------</h5>
<h4 align="center"><strong>Telefonické rezervácie:</strong></h4>
<h5 align="center">+421 123 456 789</h5>
<h5 align="center">--------------------------------------</h5>
<h5 align="center"><strong>Email:</strong> ruby@lyziarskaskola.sk</h5>

