<h3>Zvoľte si typ lekcie:</h3>

<%= link_to "Lyže", ski_instructors_path, class: 'btn btn-warning' %> &nbsp
<%= link_to "Snowboard", snb_instructors_path, class: 'btn btn-warning' %> &nbsp
<br>
<br>
<%= button_to "Dozadu", root_path, :method => "get" %>
