<body class="background-blue">
<p id="notice" style="color:white;"><%= notice %></p>
<p>
  <strong>Názov:</strong>
  <%= @skinews.title %>
</p>

<p>
  <strong>Popis:</strong>
  <%= @skinews.body %>
</p>

<%= button_to "Dozadu", skinews_index_path, :method => "get" %> <br>
</body>
